<%inherit file="/homepage/templates/base_ajax.htm" />

<%block name="content">
  <form id="Loginform" action="/account/login" class="form-horizontal" method="POST">
    <fieldset>
        ${Loginform.as_p()}
        <!-- Button -->
        <div class="form-group">
          <label class="col-md-4 control-label" for="submit"></label>
          <div class="col-md-4">
            <button id="submit" name="submit" class="btn btn-default">Submit</button>
          </div>
        </div>
    </fieldset>
  </form>

  <p><a href="/account/signup">Register as new user</a></p>
</%block><!-- content -->
